import * as React from 'react';
type <%= classify(moduleName) %>Props = {

};
const <%= classify(moduleName) %> = ({}: <%= classify(moduleName) %>Props) => {
 return (
  <div>
    <%= classify(moduleName) %>
  </div>
 );
};
export default <%= classify(moduleName) %>;
